@import url('https://fonts.googleapis.com/css?family=Roboto');

body,
html {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: rgba(0, 0, 16, 0.8);
  text-decoration: none;
}

a:hover,
a:active {
  border-bottom: 0.1em solid rgba(0, 0, 16, 0.8);
  color: rgba(0, 0, 16, 0.8);
  text-decoration: none;
}

span {
  color: rgba(0, 0, 16, 0.4);
  font-size: 70%;
}


.main {
  display: flex;
  margin: auto;
  background-color: #000;
  padding: 0.8rem;
  width: 33rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
  width: 100%;
}

.title p {
  color: #fff;
  font-size: 1.3rem;
  padding: 0.3rem;
}

.rating {
  background-color: rgba(0, 0, 16, 0.8);
  padding: 0.2rem 4rem 0.1rem 0.4rem;
  border-radius: 2.2rem;
}

svg {
  fill: rgb(242, 242, 242);
  height: 3.6rem;
  width: 3.6rem;
  margin: 0.2rem;
}

#radios label {
  position: relative;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input + svg {
  cursor: pointer;
}

input[class="happy-plus"]:hover + svg,
input[class="happy-plus"]:checked + svg,
input[class="happy-plus"]:focus + svg {
  fill: #008000;
}

input[class="happy"]:hover + svg,
input[class="happy"]:checked + svg,
input[class="happy"]:focus + svg {
  fill: #003d99;
}

input[class="neutral"]:hover + svg,
input[class="neutral"]:checked + svg,
input[class="neutral"]:focus + svg {
  fill: #e6b800;
}

input[class="sad"]:hover + svg,
input[class="sad"]:checked + svg,
input[class="sad"]:focus + svg {
  fill: #cc5200;
}

input[class="sad-plus"]:hover + svg,
input[class="sad-plus"]:checked + svg,
input[class="sad-plus"]:focus + svg {
  fill: #cc0000;
}
